product/meru/application/module/ApplicationModule-Core/metadata/app-module/Core/Business Objects/app/domain/BusinessApplication.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="app.domain" xmlns="app.domain">

	<xsd:include schemaLocation="BOCommon.xsd" />

	<xsd:complexType name="BusinessApplication" abstract="true">

		<xsd:sequence>
			
			<xsd:element ref="id" />
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="uid" type="xsd:string" />
			<xsd:element name="root" type="xsd:string" />
			
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>