product/meru/application/Application-Placement/metadata/app-module/Core/Business Objects/i2par/campus/student/Award.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="i2par.campus.student" xmlns="i2par.campus.student" xmlns:r="app.domain">

   <xsd:import schemaLocation="$APPLICATION_HOME/module/ApplicationModule-Core/metadata/app-module/Core/Business Objects/app/domain/AppEntity.xsd" namespace="app.domain" />
   	
	<xsd:complexType name="Award">
		<xsd:complexContent>
			<xsd:extension base="r:AppEntity">
				<xsd:sequence>
				    <xsd:element name="studentId" type="xsd:long"/>
					<xsd:element name="year" type="xsd:integer" />
					<xsd:element name="detail" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>

	</xsd:complexType>

</xsd:schema>