product/meru/application/module/ApplicationModule-Core/metadata/app-module/Core/Business Objects/app/domain/account/RegisteredNewUser.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="app.domain.account" xmlns:an="app.entity.annotation">

	<xsd:complexType name="RegisteredNewUser" an:transient="true">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="email" type="xsd:string" />
			<xsd:element name="mobile" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>